<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Images/Logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="Aos.css" />
    <link rel="stylesheet" href="/home.css" />
    <title>Company</title>
</head>
<body>
  <%- include('layout') %>
    <header data-aos="fade">
        <nav>
            <ul class="left">
                <li><a href="#" class="active"><img class="logo" src="/Images/logo-black.png" alt="mylogo"></a></li>
            </ul>
            <h1 id="Title">Building Bridges Initiative</h1>
            <ul class="right">
                <li><a href="#dashboard" class ="hire">Dashboard</a></li>
                <li><a href="#jobs" class ="hire">Jobs</a></li>
                <li><a href="#students" class ="hire">Students</a></li>
                <li><a href="#mentor" class ="hire">Mentor</a></li>
                <li><a href="#review" class ="hire">Review</a></li>
                <li><a href="#contacts" class ="hire">Contacts</a></li>
                
            </ul>
        </nav>
        
    </header>
        <section data-aos="fade-up" id="dashboard">
            <div class="container">
                  <div class="image-container">
                    <img class="my-image" src="/Images/Logo1.png" alt="Me">
                </div>
                <div class="details">
                    <p>Company Name: <span id="company-name">Building Bridges Initiative</span></p>
                    <p>Company Type: <span id="company-type">Public</span></p>  
                    <p>Employees Number: <span id="employee-number">20</span></p>
                    <p>Mentors-Number: <span id="Mentors-Number">2</span></p>
                    <p>BBI employeed: <span id="bbi-employees">1</span></p>
                    <p>Approval rates: <span id="approval-rates">0.1</span></p>  
                </div>
            </div>
        </section>
    
        <section data-aos="fade-up" id="jobs">
            <h2><u>Jobs Available</u></h2>
            <div class="cards">
              <div class="skill-card">
                  <img src="/Images/Logo1.png" alt="">
                  <h2 id="username">Building Bridges Enterprises</h2>
                  <h2 id="field">Software Developer</h2>
                  <a href="#"><button class="hire">Remove</button></a>
              </div>
              <div class="skill-card">
                  <img src="/Images/Logo1.png" alt="">
                  <h2 id="username">Building Bridges Enterprises</h2>
                  <h2 id="field">HR Manager</h2>
                  <a href="#"><button class="hire">Remove</button></a>
              </div>
              <div class="skill-card">
                  <img src="/Images/Logo1.png" alt="">
                  <h2 id="username">Building Bridges Enterprises</h2>
                  <h2 id="field">Database Administrator</h2>
                  <a href="#"><button class="hire">Remove</button></a>
              </div>
          </div>
   
        </section>
    
        <section data-aos="fade-up" id="students">
            <h2>Students</h2>
            <p> Students applied are:</p>
            <div class="cards">
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Zabba Datch</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Kostas Tsimikas</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Bradley Clark</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                 <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Quansah Dijk</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Bobby Wine</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Badda Dan</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Toila Anita</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Wilkista Muthoni</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Eunice Wangeci</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Nico Karty</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Arlu Arjun</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Kioko Muthokoi</h2>
                    <h2 id="field">Software Development</h2>
                    <h2>Course completion: <span id="course-completion">10%</span></h2>
                    <h2>Mentorship Status: <span id="mentorship-status">Yes</span></h2>
                    <a href="#"><button class="hire">Approve</button></a>
                    <a href="#"><button class="hire">Disapprove</button></a>
                </div>
        </section>
    
        <section data-aos="fade-up " id="mentor">
            <h2>Mentors</h2>
            <p>Company Mentors.</p>
            <div class="cards">
              <div class="skill-card">
                <img src="/Images/user.png" alt="">
                <h2 id="username">Students Mentor</h2>
                <h2 id="field">Software Development</h2>
                <p>Mentoring Students: <span id="studentsNo"> 12 students</span></p>
            </div>
            <div class="skill-card">
                <img src="/Images/user.png" alt="">
                <h2 id="username">Aletta Oken</h2>
                <h2 id="field">Database Management</h2>
                <p>Mentoring Students: <span id="studentsNo"> 0 students</span></p>
              </div>
            <div class="skill-card">
              <img src="/Images/user.png" alt="">
              <h2 id="username">Kongi Oloo</h2>
              <h2 id="field">Database Management</h2>
              <p>Mentoring Students: <span id="studentsNo"> 1 students</span></p>                 
          </div>
          <div class="skill-card">
              <img src="/Images/user.png" alt="">
              <h2 id="username">Mia Kwafila</h2>
              <h2 id="field">Software Development</h2>
              <p>Mentoring Students: <span id="studentsNo"> 2 students</span></p>
          </div>
        </div>
        </section>
        <section data-aos="fade-up" id="contacts">
          <h2>Contact Information</h2>
          <p><strong>Telephone:</strong> </p> 
           <p><a href="tel:+254768980651" target="_blank"><img class="icon" src="/Images/telephone.png" alt="call me">+254&nbsp;799&nbsp;980&nbsp;651</a></p>
           <p><strong>Email:</strong> </p>
           <p><a href="mailto:isaacdutch472@gmail.com" target="_blank"><img class="icon" src="/Images/mail.png" alt="email me">buildingbridges@gmail.com</a></p>
          </section>
       
    </section>

    <section id="footer" data-aos="fade-up">
        <div>
            <a href="https://github.com/Brandon-Datch" target="_blank"><img class="icon" src="/Images/github.png" alt="Github"></a>
            <a href="https://www.facebook.com/isaac.datch.3"target="_blank"><img class="icon" src="/Images/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/sir_durche/"target="_blank"><img class="icon" src="/Images/instagram.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/isaac-brandon-datch-947067288/"target="_blank"><img class="icon" src="/Images/linkedin.png" alt="LinkedIn"></a>
        </div>
        <p>&copy; 2024 Brand3n Solutions. All rights reserved.</p>
    </section>

   
</body>
</html>