<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/homepage.css">
    <title>Building Bridges Initiative</title>
  </head>
  <body>
    <%- include('layout') %>
    <div class="body">
      <div class="home-container">
        <div class="home-homepage">
          <div class="header">
            <img src="./Images/Logo1.png" alt="logo" class="logo" />
          </div>

          <div class="home-left-panel">
            <div class="home-welcoming">
              <span class="home-text">
                <span>Building Bridges Initiative</span>
              </span>
              <span class="home-text02">A roadmap to your dreams</span>
              <span class="home-text04">
                A platform that offers you the chance to meet your dreams by the
                help of your mentors through a well laid out plan and program
                that meets your needs as best as you would like it.
              </span>
            </div>
          </div>

          <div class="home-signup">
            <img
              src="./Images/graduation.png"
              alt="Graduates"
              class="graduates"
            />

            <span class="home-text11">
              DON'T MISS YOUR CHANCE TO BE GREAT, JOIN US NOW!
            </span>
            <div class="signup-login">
                <a href="/Signup.html"><input type="button" class="home-signup1" value="Signup"></a>
                <input type="button" class="home-signup1 register-button" value="Register" onclick="window.location='/Signup.html'" />
                <a href="/login.html"><input type="button" class="home-login" value="Login" onclick="window.location='/login.html'"></a>
            </div>
          </div>
        </div>
        <section class="features">
          <div class="container">
            <h2><u>Key Features</u></h2><br>
              <ul>
                  <li><span>Personalized Mentorship:</span> Connect with seasoned professionals for tailored guidance and insights.</li><br>
                  <li><span>Comprehensive Job Market Platform:</span> Explore job opportunities, showcase your skills, and network with industry professionals.</li><br>
                  <li><span>Industry Engagement: </span>Gain valuable insights directly from companies through presentations, job vacancies, and specific requirements.</li><br>
                  <li><span>Flexible Learning: </span>Choose tasks aligned with your career aspirations, shaping your learning experience based on personal preferences and timelines.</li><br>
                  <li><span>Continuous User Support:</span> Access helpdesk services, online tutorials, and community forums for ongoing assistance.</li><br>
                  <li><span>Data Privacy and Security:</span> Ensuring the confidentiality and integrity of user data through robust security measures and compliance with data protection regulations.</li><br>
                  <li><span>Collaborative Projects:</span> Engage in collaborative projects with peers and industry partners to apply theoretical knowledge in real-world scenarios and build practical experience.</li><br>
                  <li><span>Resource Library:</span> Access a comprehensive library of resources, including articles, case studies, and learning materials, to support continuous learning and skill development.</li><br>
                  <a href="" class="link" >Register with us!</a>
              </ul>
          </div>
        </section>

        
        <div class="home-footer">
          <div class="socials">
            <span class="home-text06">Follow us:  @bbinitiative.</span>
            <br>
            <img src="/Images/twitter.png" alt="Twitter" class="icons" title="@bbinitiative"> 
            <img src="/Images/linkedin.png" alt="linkedin513" class="icons" />
            <img src="/Images/instagram.png" alt="instagram512" class="icons" />
          </div>
          <span class="home-text22"> &copy; Building Bridges Initiative</span>
          <div class="contacts">
            <span class="home-text24">
              Contact us on:
            </span> <br>
            <img src="/Images/mail.png" alt="Email" class="icons" title="buildingbridges@gmail.com">                
            <img src="/Images/telephone.png" alt="Call" class="icons" title="0793000920">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
