<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('layout') %>
    <div class="home-homepage">
      <form class="form">
        <div class="header">
          <img
            src="/Images/logo-no-background.png"
            alt="logo"
            class="logo"
          />
        </div>
        <p class="title">User</p>
        <a class="submit" href="/users/loginForm">
          Admin
        </a>

        <a class="submit" href="/users/loginForm">
          Student
        </a>
        <a class="submit" href="/users/loginForm">
          Mentor
        </a>

        <a
          class="submit"
          href="/users/CompanyAdminLogin"
        >
          Company
        </a>
      </form>
    </div>
  </body>
</html>
