<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Images/Logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="Aos.css" />
    <link rel="stylesheet" href="home.css" />
    <title>Mentors Home</title>
</head>
<body>
  <%- include('layout') %>
    <header data-aos="fade">
        <nav>
            <ul class="left">
                <li><a href="#" class="active"><img class="logo" src="/Images/logo-black.png" alt="mylogo"></a></li>
            </ul>
            <h1 id="Title">Building Bridges Initiative</h1>
            <ul class="right">
                <li><a href="#dashboard" class ="hire">Dashboard</a></li>
                <li><a href="#requests" class ="hire">Requests</a></li>
                <li><a href="#students" class ="hire">Students</a></li>
                <li><a href="#skills" class ="hire">Skills</a></li>
                <li><a href="#job" class ="hire">Job</a></li>
            </ul>
        </nav>
        
    </header>
        <section data-aos="fade-up" id="dashboard">
            <div class="container">
                  <div class="image-container">
                    <img class="my-image" src="/Images/user.png" alt="Me">
                </div>
                <div class="details">
                    <p> Name: <span id="mentor-name">    Students Mentor</span></p>
                    <p>Experience: <span id="experience-years"> 3 years</span></p>
                    <p>Mentoring Students: <span id="studentsNo"> 12 students</span></p>
                    <p>Field: <span id="field">Software Development</span></p>
                    <!--Make this div Dynamic-->
                </div>
            </div>
        </section>
    
        <section data-aos="fade-up" id="requests">
            <h2>Requests</h2>
            <p>The following are your mentorship requests:</p>
            <div class="cards">
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Zabba Datch</h2>
                    <h2 id="field">Software Development</h2>
                    <a href="#contact"><button class="hire">Accept</button></a>
                    <a href="#contact"><button class="hire">Decline</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Kostas Tsimikas</h2>
                    <h2 id="field">Software Development</h2>
                    <a href="#"><button class="hire">Accept</button></a>
                    <a href="#"><button class="hire">Decline</button></a>
                </div>
            </div>
         
        </section>
    
        <section data-aos="fade-up" id="students">
            <h2>Students</h2>
            <p> Students you mentor are:</p>
            <div class="cards">
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Zabba Datch</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Kostas Tsimikas</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Bradley Clark</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                 <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Quansah Dijk</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Bobby Wine</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Badda Dan</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Toila Anita</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Wilkista Muthoni</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Eunice Wangeci</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Nico Karty</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Arlu Arjun</h2>
                    <h2 id="field">Software Development</h2>
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="username">Kioko Muthokoi</h2>
                    <h2 id="field">Software Development</h2>
                </div>
        </section>
    
        <section data-aos="fade-up " id="skills">
            <h2>Skills</h2>
            <p>Here are some of your skills.</p>
            <div class="cards">
                <div class="skill-card">
                    <h2 id="username">Web development</h2>
                </div>
                <div class="skill-card">
                    <h2 id="username">Software Development</h2>
                </div>
                <div class="skill-card">
                    <h2 id="username">UI/UX Design</h2>
                </div>
           
        </section>
        <section data-aos="fade-up" id="job">
            <h2>Company</h2>
           <p><strong>You are currently working at this company:</strong> </p> 
           <div class="cards">
            <div class="skill-card">
                <img src="/Images/Logo1.png" alt="">
                <h2 id="username">Building Bridges Enterprises</h2>
                <h2 id="field">Software Developer</h2>
            </div>
          </section>
       
    </section>

    <section id="footer" data-aos="fade-up">
    
        <div>
            <a href="https://github.com/Brandon-Datch" target="_blank"><img class="icon" src="/Images/github.png" alt="Github"></a>
            <a href="https://www.facebook.com/isaac.datch.3"target="_blank"><img class="icon" src="/Images/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/sir_durche/"target="_blank"><img class="icon" src="/Images/instagram.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/isaac-brandon-datch-947067288/"target="_blank"><img class="icon" src="/Images/linkedin.png" alt="LinkedIn"></a>
        </div>
        <p>&copy; 2024 Brand3n Solutions. All rights reserved.</p>
    </section>

   
</body>
</html>