<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('layout') %>
    <div class="container">
      <form class="form" id="loginForm">
        <div class="header">
          <img
            src="/Images/Logo1.png"
            alt="logo"
            class="logo"
          />
        </div>
        <p class="title">Login</p>
        
          <label>
            <input class="input" type="text" placeholder="" required="" />
            <span>Username</span>
          </label>
          <label>
            <input
              class="input"
              type="email"
              placeholder=""
              required=""
              id="email"
            />
            <span>Email</span>
          </label>
       
        <div class="flex">
        <label>
            <input
              class="input"
              type="password"
              placeholder=""
              required=""
              id="password"
            />
            <span>Password</span>
          </label>
          <label>
            <input
              class="input"
              type="password"
              placeholder=""
              required=""
              id="confirmPassword"
            />
            <span>Confirm password</span>
          </label>
        </div>
        <button class="submit">Submit</button>
        
        </p>
      </form>
    </div>
  </body>
</html>