<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Images/Logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="Aos.css" />
    <link rel="stylesheet" href="/home.css" />
    <title>Students Portal</title>
</head>
<body>
  <%- include('layout') %>
    <header data-aos="fade">
        <nav>
            <ul class="left">
                <li><a href="#" class="active"><img class="logo" src="/Images/logo-black.png" alt="mylogo"></a></li>
            </ul>
            <h1 id="Title">Building Bridges Initiative</h1>
            <ul class="right">
                <li><a href="#dashboard" class ="hire">Dashboard</a></li>
                <li><a href="#stats" class ="hire">Stats</a></li>
                <li><a href="#skills" class ="hire">Skills</a></li>
                <li><a href="#mentor" class ="hire">Mentor</a></li>
                <li><a href="#company" class ="hire">Company</a></li>
                
            </ul>
        </nav>
        
    </header>
        <section data-aos="fade-up" id="dashboard">
            <div class="container">
                  <div class="image-container">
                    <img class="my-image" src="/Images/user.png" alt="Me">
                </div>
                <div class="details">
                    <p>Name: <span id="student-name"> Zabba Datch</span></p>
                    <p>Course: <span id="field">Information Technology</span></p>  
                    <p>Education level: <span id="edLevel">Undergraduate</span></p>
                    <p>Employment Status: <span id="Employment Status"> Unemployed</span></p>
                    <p>Field: <span id="field">Software Development</span></p>
                    <p>Joined: <span id="field">2024</span></p>  
                </div>
            </div>
        </section>
    
        <section data-aos="fade-up" id="stats">
            <h2><u>Stats</u></h2>
            <p>Units completed:</p>
            <div class="cards">
                <div class="skill-card">
                    <img src="/Images/telephone.png" alt="">
                    <h2 id="field">Mobile App development</h2>
                    <h2 id="period">Months</h2>
                    
                </div>
                <div class="skill-card">
                    <img src="/Images/user.png" alt="">
                    <h2 id="field">Customer relations</h2> 
                    <h2 id="period">Weeks</h2>                   
                </div>
            </div>
            <br><br><hr>
            <p>Units registered:</p>
            <div class="cards">
              <div class="skill-card">
                  <img src="/Images/github.png" alt="">
                  <h2 id="field">Software development</h2>
                  <h2 id="period">Months</h2>
                  
              </div>
              <div class="skill-card">
                  <img src="/Images/mongodb.png" alt="">
                  <h2 id="field">Database Management</h2> 
                  <h2 id="period">Months</h2>                   
              </div>
          </div>
          <h2>Progress Report</h2>
          <p>You are <span id="progress">20%</span> complete with the course</p>
        </section>
    
        <section data-aos="fade-up" id="skills">
            <h2>Skills</h2>
            <p> Skills gained are:</p>
            <div class="cards">
            <div class="skill-card">           
              <h2>Python</h2>
          </div>
          <div class="skill-card">             
              <h2>CSS</h2>
          </div>
          <div class="skill-card">              
              <h2>Django</h2>
          </div>
           <div class="skill-card">           
              <h2>Flutter</h2>
          </div>
          <div class="skill-card">             
              <h2>GIT</h2>
          </div>
          <div class="skill-card">              
              <h2>HTML</h2>
          </div>
          <div class="skill-card">             
              <h2>JavaScript</h2>
          </div>
        </div>
        </section>
    
        <section data-aos="fade-up " id="mentor">
            <h2>Mentors</h2>
            <p>Approved Mentors.</p>
            <div class="cards">
              <div class="skill-card">
                <img src="/Images/user.png" alt="">
                <h2 id="username">Students Mentor</h2>
                <h2 id="field">Software Development</h2>
            </div>
            <div class="skill-card">
                <img src="/Images/user.png" alt="">
                <h2 id="username">Aletta Oken</h2>
                <h2 id="field">Database Management</h2>
            </div></div><br><br>
            <p>Pending mentors</p>
            <div class="cards">
            <div class="skill-card">
              <img src="/Images/user.png" alt="">
              <h2 id="username">Kongi Oloo</h2>
              <h2 id="field">Database Management</h2>
              <a href="#"><button class="hire">Remove request</button></a>
                   
          </div>
          <div class="skill-card">
              <img src="/Images/user.png" alt="">
              <h2 id="username">Mia Kwafila</h2>
              <h2 id="field">Software Development</h2>
              <a href="#"><button class="hire">Remove request</button></a>
          </div>
        </div>
        </section>
        <section data-aos="fade-up" id="company">
            <h2>Company</h2>
           <p><strong>You applied at this company:</strong> </p> 
           <div class="cards">
            <div class="skill-card">
                <img src="/Images/Logo1.png" alt="">
                <h2 id="username">Building Bridges Enterprises</h2>
                <h2 id="field">Software Developer</h2>
                <p>Status: <span id="status"> Pending</span></p>
                <a href="#"><button class="hire">Restart Application</button></a>
            </div>
           </div>
            <br><br><br>
            <p><strong>Available jobs:</strong> </p>
            <div class="cards">
                <div class="skill-card">
                    <img src="/Images/Logo1.png" alt="">
                    <h2 id="username">Building Bridges Enterprises</h2>
                    <h2 id="field">Software Developer</h2>
                    <a href="#"><button class="hire">Apply Now</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/Logo1.png" alt="">
                    <h2 id="username">Building Bridges Enterprises</h2>
                    <h2 id="field">HR Manager</h2>
                    <a href="#"><button class="hire">Apply Now</button></a>
                </div>
                <div class="skill-card">
                    <img src="/Images/Logo1.png" alt="">
                    <h2 id="username">Building Bridges Enterprises</h2>
                    <h2 id="field">Database Administrator</h2>
                    <a href="#"><button class="hire">Apply Now</button></a>
                </div>
            </div>
     
          </section>
       
    </section>

    <section id="footer" data-aos="fade-up">
        <div>
            <a href="https://github.com/Brandon-Datch" target="_blank"><img class="icon" src="/Images/github.png" alt="Github"></a>
            <a href="https://www.facebook.com/isaac.datch.3"target="_blank"><img class="icon" src="/Images/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/sir_durche/"target="_blank"><img class="icon" src="/Images/instagram.png" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/isaac-brandon-datch-947067288/"target="_blank"><img class="icon" src="/Images/linkedin.png" alt="LinkedIn"></a>
        </div>
        <p>&copy; 2024 Brand3n Solutions. All rights reserved.</p>
    </section>

   
</body>
</html>