.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  
  .home-homepage {
    width: 100%;
    height: 1424px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(157, 174, 207, 1);
  }
  .home-homepage1 {
    width: 100%;
    height: 2800px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(157, 174, 207, 1);
  }
  
  .header {
    width: 100%;
    height: 26vh;
    background-color: #230c53;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .header1 {
    width: 100%;
    height: 26vh;
    background-color: #230c53;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .logo {
    position: relative;
    object-fit: contain;
  }
  .logo1 {
    width: 12vh;
    position: relative;
  }
  .nav {
    position: relative;
    display: flex;
    margin: 6px;
    align-items: center;
  }
  .navigation {
    color: rgb(242, 250, 0);
    font-size: 20px;
    margin-right: 19px;
    text-decoration: none;
  }
  .navigation:hover {
    text-decoration: underline;
  }
  .home-left-panel {
    gap: 79px;
    top: 25vh;
    left: 715px;
    width: 648px;
    height: 617px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-shrink: 0;
  }
  
  .home-welcoming {
    gap: 20px;
    width: 648px;
    height: 546px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
  }
  
  .home-text {
    color: rgba(34, 12, 82, 1);
    height: auto;
    font-size: 69px;
    font-style: ExtraBold;
    text-align: left;
    font-family: Saira Condensed;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .home-text02 {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-style: italic;
    text-align: left;
    font-family: Send Flowers;
    font-weight: 400;
    text-decoration: underline;
  }
  
  .home-text04 {
    color: rgba(0, 0, 0, 1);
    width: 648px;
    height: auto;
    font-size: 36px;
    font-style: Medium;
    text-align: left;
    font-family: Saira SemiCondensed;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .home-text06 {
    color: beige;
    width: 202px;
    height: auto;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .icons {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    color: #fff;
  }
  .icons:hover {
    filter: blur(200%);
    filter: brightness(200%);
    cursor: pointer;
  }
  #student-details {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  #Academics {
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-direction: column;
  }
  .skills-container {
    width: 150px;
    height: 200px;
    background: #3a393920;
    border: 2px;
    display: inline-block;
    flex-direction: row;
    margin: 10px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
  }
  .skills-container span {
    color: #ebebeb;
  }
  .skill {
    width: 100%;
    height: 70%;
    object-fit: contain;
  }
  .container span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .first {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .home-signup {
    gap: 16px;
    top: 25vh;
    left: 82px;
    width: 502px;
    height: 623px;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-shrink: 0;
  }
  
  .graduates {
    top: 11px;
    left: 2px;
    height: 10%;
    position: absolute;
    width: 432px;
    height: 253px;
    box-shadow: #230c53;
    background: #000;
  }
  
  .home-text11 {
    color: rgba(21, 30, 73, 1);
    top: 50%;
    width: 450px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: Snowburst One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .signup-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 65vh;
    height: 20px;
  }
  
  .home-login,
  .home-signup1 {
    color: beige;
    font-weight: bolder;
    gap: 12px;
    width: 35px;
    position: relative;
    display: flex;
    width: 150px;
    border: none;
    height: 40px;
    margin: 20px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    justify-content: center;
    background-color: rgba(0, 100, 177, 1);
    transition: 0.5 ease-in;
  }
  
  .home-signup1:hover,
  .home-login:hover {
    color: #070505;
    cursor: pointer;
    background-color: rgb(105, 188, 230);
  }
  .contact-details {
    top: 1200px;
    left: 76vh;
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  .features {
    background-color: #230c53;
    margin-bottom: 9px;
    color: beige;
    top: 700px;
    width: 100%;
    position: absolute;
    font-size: 19px;
  }
  .features ul span {
    font-weight: bold;
    font-size: 20;
    cursor: pointer;
  }
  .link {
    color: rgb(245, 241, 133);
    font-size: 30px;
    transition: 0.5s;
  }
  .link:hover {
    color: aqua;
  }
  .home-footer {
    top: 1289px;
    left: 1px;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    height: 20vh;
    background-color: #230c53;
  }
  
  .home-text17 {
    color: beige;
    width: 279px;
    height: auto;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Lily Script One;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .home-text22 {
    color: beige;
    width: 328px;
    height: auto;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .home-text24 {
    color: beige;
    width: 329px;
    height: auto;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  .contacts {
    padding-right: 30px;
  }
  .form {
    left: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    min-width: 300px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    transform: translate(-50%, 10%);
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .message,
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #00bfff;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #00bfff;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3s ease;
    background-color: #00bfff;
  }
  
  .submit:hover {
    background-color: #00bfff96;
    cursor: pointer;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  
  #jobs-applied li,
  #jobs-applied span {
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  